.cardCustom{
    margin-top: 100px;
    padding-top: 100px;
}

.ui.link.raised.Card.cardCustom{
    margin-top: 100px !important;
    padding-top: 100px !important;
    padding-left: 100px;
}

.ui.segmentTest{
    min-height: 700px;
    Padding: '1em 0em';
    background-image: url("./Assets/page4.jpg");
    background-size: 'contain';
    background-repeat  : 'no-repeat';
    background-position: 'top';
}