.mintNFTContainer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('Assets/nft-concept-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
}